<html>
	
<head>
	<link rel="icon" href="/images/logo.png">
	<title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        
		@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: #203c49;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  /* border: none; */
  border-radius: 30px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
h1 {
  text-align: center;
  font-size: clamp(2.4rem, 3vw, 4rem);
}

.buttons-container {
  display: flex;
  align-items: center;
  height: calc(100vh - 10.4rem);
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.4rem;
}
.buttons-container .btn-toast {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  transition: filter 0.3s;
  cursor: pointer;
  color: #fff;
}
.buttons-container .btn-toast:not(:last-child) {
  margin-right: 0.8rem;
}
.buttons-container .btn-toast[data-type=success] {
  background-color: #4caf50;
}
.buttons-container .btn-toast[data-type=system] {
  background-color: #2896f3;
}
.buttons-container .btn-toast[data-type=warning] {
  background-color: #fbc107;
}
.buttons-container .btn-toast[data-type=error] {
  background-color: #f55153;
}
.buttons-container .btn-toast:hover {
  filter: opacity(0.9);
}

.toasts-container {
  position: fixed;
  top: 2.4rem;
  right: 2.4rem;
  padding-left: 2.4rem;
  z-index: 100;
}
.toasts-container .toast {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  max-height: 100px;
  /* min-width: 28rem; */
  border-radius: 0.4rem;
  padding: 2.4rem;
  margin-bottom: 2.4rem;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.25s ease-in-out;
  overflow-x: hidden;
}
.toasts-container .toast.active {
  opacity: 1;
  transform: translateY(0);
}
.toasts-container .toast .t-icon {
  margin-right: 2.4rem;
}
.toasts-container .toast .t-icon svg {
  fill: var(--white);
  width: 1.4rem;
  height: 1.4rem;
}
.toasts-container .toast .t-message {
  margin-right: 2.4rem;
  color: var(--white);
  line-height: 2rem;
  font-size: 20px;
}
.toasts-container .toast .t-close svg {
  fill: var(--white);
  opacity: 1;
  width: 0.8rem;
  height: 0.8rem;
  transition: opacity var(--default-transition-duration);
  cursor: pointer;
}
@media (hover: hover) {
  .toasts-container .toast .t-close svg {
    opacity: 0.5;
  }
}
.toasts-container .toast .t-close:hover svg {
  opacity: 1;
}
.toasts-container .toast .t-progress-bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  border-radius: 0 0 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  animation: progress-bar-animation linear forwards 3000ms;
}
.toasts-container .toast .t-progress-bar.t-5000 {
  animation-duration: 5000ms;
}
.toasts-container .toast.success {
  background-color: #4caf50;
}
.toasts-container .toast.system {
  background-color: #2896f3;
}
.toasts-container .toast.warning {
  background-color: #fbc107;
}
.toasts-container .toast.error {
  background-color: #f55153;
}

@keyframes progress-bar-animation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
    </style>
</head>
<body>
  
<section>
    <div class="container">
      <div class="user signinBx">
        
        <div class="imgBx"><img src="/images/Olivia.png" alt="" /></div>
        <div class="formBx">
          <form action="/" method="post">
            <h2>Sign In</h2>
			<a href="/google"><button type="button" class="login-with-google-btn">
				Google Sign In
			  </button></a>
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" name="" value="Login" />
            <p class="signup">
              Don't have an account ?
              <a href="#" onclick="toggleForm();">Sign Up.</a>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="/signup" method="post">
            <h2>Create an account</h2>
            <input type="text" name="name" placeholder="Name" />
            <input type="email" name="email" placeholder="Email Address" />
            <input type="password" name="password" placeholder="Create Password" />
            <input type="submit" name="" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <a href="#" onclick="toggleForm();">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="/images/Olivia.png" alt="" /></div>
      </div>
    </div>
    
  </section>
</body>
</html>
<script src="/js/toast.js"></script>
<% if(err === 'failed'){%>
<script>
  toastsHandler.createToast({
    type: 'error',
    icon: 'exclamation-circle',
    message: 'Opps! Invalid credentials!',
    duration: 5000
});
</script>
<%}%>
<%if(err === 'fal1'){%>
<script>
  toastsHandler.createToast({
    type: 'error',
    icon: 'exclamation-circle',
    message: 'Opps email already registered!',
    duration: 5000
});
</script>
<%}%>
<script>
$('.toast').toast('show')
const toggleForm = () => {
  const container = document.querySelector('.container');
  container.classList.toggle('active');
};

</script>